body {
	margin: 0;
}

.head {
	height: 50px;
	width: 100%;
	background: green;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.content{
	margin: 0;
}

.add input {
	display: block;
	margin-bottom: 20px;
}
